# IDE and OS excludes
/.idea
.DS_Store

# Common archive / temporary files
/.archive

# Cache files
**/*.cache

# Runtime environment
/.run/*
!/.run/history
/.run/history/*
!/.run/history/.gitkeep
/.vendor/*
!/.vendor/.gitkeep
/Public/
/composer.lock

# QA Reports
/.reports
